<div class="login-container">
    <div class="login-paper">
        <h2>Вход</h2>
        <input class="input-login" placeholder="Логин"/>
        <input class="input-password" placeholder="Пароль"/>
        {{> button classname="filled" label="Авторизоваться" link="/main" }}
        {{> button classname="flat" label="Нет аккаунта?" link="/register" }}
    </div>
</div>