<div class="login-container">
    <div class="login-paper">
        <h2>Вход</h2>
        <input class="input-login" placeholder="login"/>
        <input class="input-password" placeholder="password"/>
        {{> button classname="filled" label="Авторизоваться" }}
        {{> button classname="flat" label="Нет аккаунта" }}
    </div>
</div>