<div class="login-container">
    <form class="login-paper">
        <h2>Вход</h2>
        {{{ loginInput }}}
        {{{ passwordInput }}}
        {{{ authButton }}}
        {{{ noAccButton }}}
    </form>
</div>
