<div class="login-container">
    <div class="login-paper">
        <h2>Регистрация</h2>
        <input class="input-login" placeholder="Почта" />
        <input class="input-login" placeholder="Логин" />
        <input class="input-login" placeholder="Пароль" type="password"/>
        <input class="input-login" placeholder="Имя"/>
        <input class="input-login" placeholder="Фамилия"/>
        <input class="input-password" placeholder="Телефон" />
        {{> button classname="filled" label="Зарегистрироваться" link="/" }}
        {{> button classname="flat" label="Войти" link="/login" }}
    </div>
</div>