/* Пробовал вынести общий стиль отдельно, чтобы использовать типа */
/* <button class=`base ${ classname }`> */
/* однако не нашёл способа как так сделать */
/*.base {*/
/*    border: 0;*/
/*    padding: 5px 10px*/
/*}*/

.filled {
    background-color: #3369F3;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    margin-bottom: 10px
}

.flat {
    background-color: #FFFFFF;
    color: #3369F3;
    border: 0;
    padding: 5px 10px;
    margin-bottom: 10px
}