<div class="main-container">
    <div class="main-paper">
        <div class="chats">
            <div class="chats-header">
                <div class="chats-profile">Профиль ></div>
                <div><input placeholder="Поиск"/></div>
            </div>
            {{> chat }}
            {{> chat }}
            {{> chat }}
        </div>
        <div class="active">
            <div class="active-header">
                <div class="chats-item-avatar"></div>
                <div class="active-contact-name">Вадим</div>
                <div class="active-menu">menu</div>
            </div>
            <div class="active-chat-area">
                {{> message }}
                {{> message }}
                {{> message }}
            </div>
            <div class="active-bottom">
                <div>pin</div>
                <div class="active-bottom-input-area">
                    <input class="active-bottom-input" placeholder="Сообщение" />
                </div>
                <div class="active-bottom-send">
                    >
                </div>
            </div>
        </div>
    </div>
</div>
