<div class="main-container">
    <div class="main-paper">
        <div class="chats">
            <div class="chats-header">
                <div class="chats-profile">Профиль ></div>
                <div><input placeholder="Поиск"/></div>
            </div>
            {{> chat }}
            {{> chat }}
            {{> chat }}
        </div>
        <div class="active">Active chat</div>
    </div>
</div>
