$light-grey: #efefef;
$grey: #999999;
$blue: #3369F3;
$red: #FF0000;
$white: #FFFFFF;
$black: #1a1a1a;

$thin-grey-line: $light-grey solid 1px;

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
}

.login-paper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: $black solid 1px;
    box-shadow: -5px 5px 15px $black;
    padding: 20px;
}
