<div class="modal-back">
    <form class="profile-container profile-edit-container">
        <div class="profile-data-row">
            <div>Старый пароль</div>
            <div>
                {{{ oldPassword }}}
            </div>
        </div>
        <div class="profile-data-row">
            <div>Новый пароль</div>
            <div>
                {{{ newPassword }}}
            </div>
        </div>

        <div class="profile-actions-block">
            {{{ saveButton }}}
            {{{ closeButton }}}
        </div>
    </form>
</div>