@import url("src/common/styles/styles");

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.profile-item-avatar {
    border-radius: 50%;
    background-color: $blue;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.profile-actions-block {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
