<div class="modal-back">
    <div class="modal-paper">
        <p>Поиск пользователей</p>
        <div class="modal-results-block">
            {{{ results }}}
            {{#if noResultsText}}
                <div>{{ noResultsText }}</div>
            {{/if}}
        </div>
        {{{ closeButton }}}
    </div>
</div>
