<div class="error-container">
    <h1 class="error-header">
        {{ message }}
    </h1>
    <div class="error-button-container">
        {{> button link="/" classname="flat" label="Назад" }}
    </div>
</div>